body{display: block;
    border: 5px;
    background-image: url("img/E1_L6LSWQAYdRYn.jpeg");
    background-size: cover;
    text-emphasis: white;
    height: auto;

}

header{
    text-align: center;
    color: blue;
    height: 150px;
    background: rgba(128, 128, 128, 0.803);
}
header h1, header p{
    text-align: center;
    align-items: center;
}

header nav {
    text-align: right;
    background: none;
    
}

nav {
    background: rgba(255, 248, 220, 0.589); 
    text-emphasis: white;

}

main {
    display: flex;
}

main article{
    background-color: rgba(0, 100, 0, 0.514);
    display: block;
    padding: 10px;
}

article img {
    border-radius: 80%;
    height: 80px;
    margin-left: 20px;
}


section {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
}

section div {
    width: 46%;
}

.category {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
    border: 20px;
    margin: 10px;
    color: white;

}
footer {
    margin: 10px;
    border: 20px;
    background-color: darkblue;
    padding: 2px;
    color: white;
    text-align: center;
    
}

a {
    padding: 2px;
    border-style: double;
    text-align: center;
    margin-left: 20px;
    padding: 20px;
    background-color: blue;
    color: white;

}

img {
    height: 50px;
}

form {
    margin-top: 80px;
    margin-left: 500px;
    border-color: blue;
    width: 200px;
    border-style: double;
    padding: 50px;
    background-color: rgba(216, 191, 216, 0.76);

}
form p{
   text-align: left;
}
form input {
    width: auto;
    height: 30px;
}

form button {
    margin: 20px;
    padding: 20px;
    background-color: blue;
    color: white;
    width: auto;
}